html {
  scroll-behavior: smooth;
}
body {
  background-image: url(images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "montserrat", serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  margin-top: 35px;
  border-bottom: 3px solid #9a9a9a;
}
header ::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #9a9a9a;
  color: #9a9a9a;
  position: absolute;
  top: 30px;
  left: 0;
}
nav {
  align-items: center;
  display: flex;
  /* margin-top: 5px; */
}
nav .logo img {
  margin-left: 5px;
  width: 150px;
}
nav ul {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  list-style: none;
  gap: 35px;
  font-size: 1.2rem;
  min-height: 26px;
  font-weight: 500;
  border: none;
}
@keyframes appear {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scale(1);
  }
}
main {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-left: 25%;
  width: 75%;
  gap: 100px;
}
#Connect {
  margin-bottom: 250px;
}
.headline {
  color: #d9d9d9;
  font-size: 2.6rem;
  font-weight: 600;
}
p {
  margin-top: 33px;
  width: 95%;
  color: #d9d9d9;
  font-size: 1.2rem;
}
.content a:hover {
  border-bottom: 1px solid white;
}

.info {
  min-height: 150px;
  display: flex;
  padding-left: 130px;
  padding-right: 10px;
  border: 3px solid #9a9a9a;
  align-items: center;
}
.links {
  transform: translateY(30px);
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.links img {
  width: 59px;
}
.info p {
  transform: translateY(-15px);
  font-weight: 600;
  font-size: 0.9rem;
}
footer {
  height: 7%;
  color: white;
  border-top: 3px solid #989898;
}
footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 0.9rem;
  margin-bottom: 0;
}
a {
  color: white;
  text-decoration: none;
}
.outline,
.SecondOutline {
  width: 100%;
  height: 1px;
  background-color: white;
  animation: appear 0.2s ease-out both;
}
.outline::before {
  height: 0px;
}
.inactive {
  opacity: 0;
}

form {
  height: 250px;
  max-width: 500px;
  grid-gap: 20px;
  display: grid;
  grid-template-areas:
    "FName LName"
    "Email Email"
    "Subject Subject"
    "Message Message"
    "text text"
    "recaptcha recaptcha"
    "status status"
    "submit submit";
  color: white;
  margin-bottom: 40px;
}
#Message {
  grid-area: Message;
}
#Subject {
  grid-area: Subject;
}
#Email {
  grid-area: Email;
}
#FName {
  grid-area: FName;
}
#LName {
  grid-area: LName;
}
#submit {
  grid-area: submit;
}
input,
textarea {
  margin-top: 10px;
  background-color: transparent;
  height: 30px;
  color: white;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid white;
}
textarea {
  resize: none;
  width: 100%;
  height: 51px;
}

input[type="submit"]:hover {
  background: #fff;
  color: #1b1c1e;
}
#recaptcha {
  margin: 0 auto;
  width: 70%;
  height: 50px;
  background-color: #c9c9c9;
  border: 2px dashed #dddddd;
  border-radius: 10px;
  grid-area: recaptcha;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}
#reload {
  margin-right: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
#reload img {
  width: 100%;
  height: 100%;
}
.result {
  margin: 0;
  text-align: center;
  width: 65px;
  height: 30px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
}
input:focus {
  outline: 1px solid #828282;
}
form .item {
  display: flex;
  flex-direction: column;
}
input[type="submit"] {
  margin: auto;
  width: 150px;
  background-color: #545557;
  padding: 15px 0;
  color: white;
  font-size: 18px;
  border-bottom: none;
  transition: all 0.3s ease;
  height: 50px;
}
.text {
  grid-area: text;
}
.status,
.text {
  font-size: 1.5rem;
  grid-area: status;
  text-align: center;
  color: green;
  font-weight: 600;
}
.text {
  grid-area: text;
  color: white;
}
.error {
  color: red;
}
.inactive {
  opacity: none;
}
@media screen and (max-width: 450px) {
  html {
    overflow-x: hidden;
    font-size: 10px;
    max-width: 500px;
  }
  .logo,
  .logo img {
    max-width: 75px;
  }
  body {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
  }
  main {
    margin: 0;
  }
  header {
    width: 100%;
  }
  nav ul {
    margin-left: 0;
    gap: 25px;
  }
  form {
    grid-template-areas:
      "FName"
      "LName"
      "Email"
      "Subject"
      "Message"
      "text"
      "recaptcha"
      "status"
      "submit";
  }
  form label {
    font-size: 1.2rem;
  }
  #reload {
    margin: 0;
  }
  .info {
    min-height: 200px;
    display: flex;
    border: 3px solid #9a9a9a;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .info p {
    font-size: 1.2rem;
    text-align: center;
  }
  .info img {
    width: 40px;
  }
  footer {
    width: 100%;
  }
  .footerContent,
  footer {
    border: none;
  }
  .footerContent ul {
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
  }
}
